/* Root Styles */
.root {
  position: relative;
}

/* Popup Styles */
.popup {
  width: 100%;
  z-index: 999999;
}

/* Menu Styles */
.menuRoot {
  :global {
    .Concorde-Autocomplete__Option-focusVisible {
      color: var(--hover-color);
      background-color: var(--hover-bg);
    }
  }
}

.menuFullWidth {
  width: 100%;
}

.menuEmpty {
  padding-top: 0;
  padding-bottom: 0;
}

/* Loader Styles */
.loader {
  display: flex;
}
