.drawerContainer {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: var(--concorde-default-background);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  z-index: 1500;

  &.open {
    height: 90vh;
    height: 90dvh;
    width: 100%;
    margin: unset;
  }
  .drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--concorde-spacing) * 4);
    z-index: 1400;
    background-color: var(--concorde-default-background);
    height: 90vh;
    height: 90dvh;

    .handleWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: calc(var(--concorde-spacing) * 2);
      cursor: pointer;
      position: sticky;
      width: 100%;
      .handle {
        width: 80px;
        height: 5px;
        background: var(--concorde-outline);
        border-radius: 10px;
      }
    }

    .content {
      display: block;
      mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0));
      padding: 1rem calc(var(--concorde-spacing) * 4) calc(var(--concorde-spacing) * 4);
      mask-repeat: no-repeat;
      overflow-y: auto;
      width: 100%;
      flex-grow: 1;
    }
  }
  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    z-index: 1200;
    overflow: hidden;
    &.open {
      background-color: rgb(0 0 0 / 0.5);
      display: block;
    }
  }
}