@use '../../breakpoints' as breakpoints;

/* Root styles */
.root {
  --default-modal-spacing: calc(var(--concorde-spacing) * 5);
  --modal-spacing: var(--concorde-modal-spacing, var(--default-modal-spacing));

  position: fixed;
  z-index: 1300;
  inset: 0;
  font-family: var(--concorde-font-family);
  overflow: auto;
  height: 100vh;
  width: 100vw;
  container-type: inline-size;
  container-name: modal-root;
}

/* Modal Close Button styles */
.closeButton {
  position: absolute;
  top: calc(var(--concorde-spacing) * 2);
  right: calc(var(--concorde-spacing) * 2);
  z-index: 2;

  &:hover {
    filter: brightness(1.5);
  }
}

/* Modal Body styles */
.body {
  max-height: calc(100vh - calc(var(--concorde-spacing) * 10));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  /* Container query for mobile breakpoint */
  @container modal-root (max-width: #{ breakpoints.$concorde-breakpoint-sm }) {
    position: static;
    transform: none;
    top: 0;
    left: 0;
    max-height: 100vh;
    height: 100%;
    > div {
      border-radius: unset;
    }
  }
}

/* Modal Header styles */
.header {
  padding: var(--modal-spacing);
  padding-bottom: calc(var(--modal-spacing) / 2);
}

/* Modal Content styles */
.content {
  padding: var(--modal-spacing);
  padding-top: calc(var(--modal-spacing) / 2);
  padding-bottom: calc(var(--modal-spacing) / 2);

  &:last-of-type {
    padding-bottom: var(--modal-spacing);
  }
}

/* Backdrop styles */
.backdrop {
  z-index: -1;
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  -webkit-tap-highlight-color: transparent;
}

/* Actions styles */
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--modal-spacing) / 2);
  padding: var(--modal-spacing);
  padding-top: calc(var(--modal-spacing) / 2);
}
