/* Tooltip Content styles */
.content {
  background-color: var(--concorde-primary-color);
  color: white;
  padding: calc(var(--concorde-spacing) * 2);
  font-family: var(--concorde-font-family);
  border-radius: min(var(--concorde-border-radius), 8px);
  z-index: 10;
}

/* Tooltip arrow styles */
.arrow {
  fill: var(--concorde-primary-color);
}
