.root {
  position: relative;
  font-family: var(--concorde-font-family);
  width: 100%;
  height: auto;
}

/* Placeholder Styles */
@keyframes loading {
  0% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: var(--concorde-loading-background);
  }

  100% {
    background-color: #f0f0f0;
  }
}

.image-placeholder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: loading 1.5s infinite;
  border-radius: min(var(--concorde-border-radius), 1.25rem) !important;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.35s ease-out,
    visibility 0.35s ease-out;
}

.image-placeholder-removed {
  opacity: 0;
  visibility: hidden;
}

/* Error Styles */
.image-error {
  background-color: transparent;
  text-align: center;
  line-height: 100px;
  display: flex;
  margin: auto;
  z-index: 2;

  p {
    margin: 0;
    width: 100%;
  }
}

/* Image Styles */
.image {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  border-radius: min(var(--concorde-border-radius), 1.25rem);
  object-fit: cover;
  display: block;
  z-index: 2;
}

.image-loaded {
  opacity: 1;
}